<div *ngIf="comentarios$ | async as comentarios">
  <ul class="list-unstyled comentarios-list">
    <li *ngFor="let comentario of comentarios">
      <p class="text-dark font-weight-bold mr-1">{{comentario.userNamer}}</p>
      <em>{{comentario.date | date: "dd-MM-yyyy HH:mm"}}</em>
      <p class="break-word mb-2">{{comentario.text}}</p>
    </li>
  </ul>

  <div class="mt-4">
    <form [formGroup]="comentarioForm" (submit)="salvar()">
      <div class="input-group">
        <textarea class="form-control" formControlName="comentario"></textarea>
        <div class="input-group-append">
          <button class="btn btn-primary pull-left" [disabled]="comentarioForm.invalid">
            Publicar
          </button>
        </div>
      </div>
      <app-mensagem
        mensagem="Tamanho máximo de 300 caracteres"
        *ngIf="
        comentarioForm.get('comentario')?.errors?.['maxlength']"
      ></app-mensagem>
      <app-mensagem
        mensagem="Comentário deve ter, no mínimo, 5 caracteres"
        *ngIf="
        comentarioForm.get('comentario')?.errors?.['minlength']"
      ></app-mensagem>
    </form>
  </div>
</div>
